# Kubernetes
KUBE_NAMESPACE=default
WATCH_INTERVAL=10

# Ollama
OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=mistral

# Database
DB_PATH=database/incidents.db

# Email
EMAIL_ENABLED=true

EMAIL_SENDER=your_email@gmail.com
EMAIL_APP_PASSWORD=your_16_character_app_password
EMAIL_RECEIVER=your_email@gmail.com

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

# Telegram (Optional)
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=